.DS_Store
.localhistory
.history
*.suo
clientTestResults.xml
JetBrains.meta
Editor.meta

.idea_modules/
builds/
export/
target/
__pycache__/


*/target/
*/.vs/
*/.vscode/
*/obj/
*/bin/
*/_ReSharper.Caches/

*.suo
*.userprefs
*.sublime-*


*.user
credentials.json
.idea/
Unity/AssetBundles/
Unity/Assets/Plugins/Editor/JetBrains
Unity_